html, body{
  margin:0;
  padding:0;
  overflow-x: hidden;
}

.App {
  min-height: 50vh;
  background-color: #ffffff;
  user-select:none;  
  margin:0;
  padding:0;
  overflow-x: hidden;
  width: 100%;
}

@keyframes slideLeft {
  0% {margin-right: 200%;}
  100%{margin-right: 0;}
}

@keyframes slideRight {
  0% {margin-left: 200%;}
  100%{margin-left: 0;}
}

button:focus {
    outline: none;
}

.App-header {
  background-color: rgb(247, 248, 245);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  position: fixed;
  transition: height ease 0.5s;
  z-index: 5;
}

.arrow{
  color: rgb(194, 196, 189);
  font-size: 2rem;
  position: fixed;
  line-height: 5rem;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: rotate(180deg);
  animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
  0% {bottom: 5px;}
  50%{bottom: 0px;}
  100%{bottom: 5px;}
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn  2s;
}

#spacer1 {
  transition: height ease 0.3s;
  width: 100%;
}

#title {
  padding-left: 2rem;
  font-family: Mukta;
  height: 2.4rem;
  font-weight: bold;
  color: rgb(66, 57, 14);
  position: relative;
  animation: slideInLeft ease 1s;
  transition: font-size ease-in 0.3s;
}

@keyframes slideInLeft {
  0% {right: 500px;opacity:0;}
  100%{right: 0px;opacity:1}
}

@keyframes slideInRight {
  0% {right: -90px; opacity:0;}
  100%{right: 0px;opacity:1}
}

@keyframes slideOutRight {
  0% {right: 0px; opacity:1;}
  100%{right: -90px;opacity:0}
}
 
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#subtitle {
  display: flex;
  padding-left: 3.1rem;
  font-family: Rubik;
  position: relative;
  color: rgba(196, 183, 119);
  animation: fadeIn  2s;
  transition: font-size ease-in 0.3s;
}

.button-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  animation: fadeIn  2s;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  bottom: 0rem;
}

.btn-nav {
  display: flex;
  align-items: center;
  border: none;
  margin: 0 0.3rem 0 0.3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: rgb(61, 66, 57);
  background-color: transparent;
  font-family: Mukta;
  font-weight: bold;
  height: 1.7rem;
  font-size: 15px;
  transition: color ease-in 0.2s;
}

.btn-nav:hover{
  color: rgb(117, 122, 116);
  transition: color ease-in-out 0.2s;
}

.btn-nav:focus {
  outline: none;
}

#contact-me-nav{
  margin-right: 1rem;
  position:relative;
  z-index: 1;
}

#contact-me-nav:after {
  content: "";
  position:absolute;
  z-index: -1;
  margin: 0 0 0.4rem 2rem;
  width: 3rem;
  height: 2.5rem;
  border-radius: 80% 50% 90% 50%;
  background: rgb(220, 240, 197);
  border-right: 2px rgb(199, 219, 163) solid;
  animation: clips 2.5s ease-in-out infinite;
}

@keyframes clips {
  50% {
    border-radius: 100% 100% 80% 90%;
    transform: rotate(-20deg);
  }
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 8rem 0;
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

#decoration {
    width: 16rem;
    height: 25rem;
    background-color: rgba(199, 219, 163, 0.842);
    font-size: 1.75rem;
    position: absolute;
    margin-top: -1rem;
    z-index: 0;
    display: flex;
    flex-direction: row;
}

#white-slash {
  color: rgb(255, 255, 255);
  margin-left: -4rem;
  z-index: 3;
  font-size: 1.75rem;
  transform: rotate(90deg);
  position: absolute;
  margin-top: 6.5rem;
  font-size: 1.3rem;
}

.profile-container {
  width: auto;
  display: flex;
  order: 0
}

.profile-photo{
  height: 25rem;
  z-index: 2;
  margin-left: 1.5rem;
}

#line-decoration {
  width: 16rem;
  height: 2.5rem;
  background-color: rgba(218, 219, 163, 0.411);
  font-size: 1.75rem;
  position: absolute;
  margin-top: 5.1rem;
  margin-left: 7.2rem;
  z-index: -1;
  display: flex;
  flex-direction: row;
}

.script{
  display: flex;
  flex-direction: column;
  width: auto;
  z-index: 1;
  order: 1;
  align-self: center;
}

#opening {
  font-size: 65px;
  font-family: Rambla;
  text-align: end;
  font-weight: bold;
  color: rgb(170, 189, 135);
  text-shadow: 4px 2.5px rgb(223, 230, 215);
}

#opening1 {
  width: 100%;
  font-size: 35px;
  font-family: Rambla;
  font-weight: bold;
  color: rgb(81, 83, 76) ;
  text-align: end;
  margin-bottom: 1rem;
}

#opening2 {
  width: 100%;
  font-size: 20px;
  font-family: Rambla;
  font-weight: bold;
  color: rgb(81, 83, 76) ;
  text-align: end;
  line-height: 1.5rem;
}

#about-me-description {
  width: 100%;
  font-size: 16px;
  color: rgb(91, 91, 122);
  text-align: end;
  font-family: Rubik;
}

#company-info {
  margin: 3rem 0 0 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.logo-descrip-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
  width: 40%;
}

#company-description{
  margin: 1rem 0 1rem 0;
  font-family: Rubik;
  text-align: center;
  color: rgb(91, 91, 122);
  z-index: 2;
  font-size: 90%;
  width: 75%;
}

#work-logo{
  height: 8rem;
}

#logo-container{
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 2;
}

#decoration1 {
  width: 40rem;
  height: 20rem;
  background-color: rgba(219, 211, 163, 0.541);
  position: absolute;
  margin-top: -2rem;
  margin-left: -10rem;
  z-index: 0;
  display: flex;
  flex-direction: row;
}

#decoration2 {
  width: 100%;
  height: 10rem;
  background-color: rgba(199, 219, 163, 0.5);
  font-size: 1.75rem;
  position: absolute;
  margin-top: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

#img-pic-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 50%;
}

.work-photo{
  pointer-events: none;
  width: 100%;
  height: auto;
  align-self: center;
  z-index: 3;

}

#skills, #contact {
  display: flex;
  width: 100%;
  justify-content: center;
}

.skills-box {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 4rem 5rem 4rem;
}

.skills-title-container{
  width: 50rem;
  display: flex;
  align-self: center;
  flex-direction: column;
}

#white-slash1 {
  color: rgba(255, 255, 255, 0.836);
  margin-right: 1rem;
  margin-top: -1rem;
  z-index: 0;
  position: absolute;
  font-size: 2rem;
}

.skills-title {
  color: rgb(66, 57, 14);
  font-family: Mukta;
  font-size: 1.6rem;
  font-weight: bold;
  width: 80%;
  margin:0;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(219, 211, 163, 0.541);
  height: 5rem;
  align-self: center;
}

#icon-titles{
  color: rgb(154, 179, 109);
  font-size: 1.3rem;
  text-align: center;
  font-family: Rambla;
  padding: 0.8rem 0 2rem 0;
}

.img-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  width: 100%;
}

#code-img {
  display: flex;
  width: auto;
  height: 8rem;
  padding: 0 1rem 0 1rem;
}

.github-box {
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 1.5rem 0 1.5rem 0;
  align-items: center;
}

#decoration4{
  display: flex;
  width: 80%;
  height: 0.2rem;
  background-color: rgb(236, 233, 217);
  z-index: 1;
  position: absolute;
  margin-top: -5rem;
  line-height: 0.2rem;
  color: white;
  font-size: 1rem;
  justify-content: center;
}

#github {
  display: flex;
  width: 10rem;
  height: auto;
  align-self: center;
}

#arc-text{
  height: 3.75rem;
  position: absolute;
  margin-top: -0.8rem;
  margin-left: -0.15rem;
}

#arc-text1{
  height: 1.6rem;
  position: absolute;
  margin-top: 8.5rem;
  margin-left: 6rem;
  transform: rotate(-38.5deg);
}

.contact-me-box {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: rgb(199, 219, 163);
  padding: 1.5rem 0 1.5rem 0;
}

.contact-me-title {
  color: rgb(255, 255, 255);
  font-family: Mukta;
  font-weight: bold;
  font-size: 1.75rem;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

a:link, a:visited, a:hover, a:active {
  color: rgba(255, 255, 255, 0);
  align-self: center;
}

#email-button{
  width: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  padding: 0.4rem 1rem 0.4rem 1rem;
  font-family: Rambla;
  font-size: 0.9rem;
  transition: background-color ease 0.5s;
}

#email-button:hover {
  background-color: rgb(210, 226, 179);
  transition: background-color ease 0.5s;
}

#email-icon{
  color:rgb(255, 255, 255);
  font-size: 1.3rem;
}

#email-caption{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-family: Mukta;
  color: white;
  text-align: center;
}

.rights-box {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-family: Mukta;
  color: rgb(66, 57, 14);
}

#drop-down-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: space-evenly;
  position: absolute;
  width: 6rem;
  height: 4rem;
  top: 0;
  padding: 1.1rem 0 1.1rem 0.3rem;
  animation: fadeIn ease-in 0.4s;
}

#btn-line {
  border-right: 0.5rem solid rgb(168, 194, 138);
  width: 2rem;
  height: 0.06rem;
  padding: 0.1rem;
  background-color: rgb(71, 45, 23);
}

#drop-down {
  background-color: rgb(220, 240, 197);
  flex-direction: column;
  align-self: flex-end;
  width: 12rem;
  padding: 0.5rem 0 0.5rem 0;
  position: absolute;
  margin-top: 4.5rem;
  z-index: 100;
  animation: slideInRight ease-in 0.4s;
  border-radius: 10% 0% 0% 10%;
}

#btn-drop-line {
  width: 100%;
  height: 0.1rem;
  background-color: rgb(199, 219, 163);
}

@media (max-width:850px) {
  .btn-nav{font-size: 0.9rem; width: 100%; justify-content: flex-start;}
  #icon-titles {padding-bottom: 2rem}
  .button-nav {display:none;}
  #contact-me-nav:after{display: none;}
  #lines{display:none}
}

@media (max-width:851px) {
  #opening2 {text-align: center;}
  .info-box {flex-direction: column; width: 100%; padding:0; margin-bottom: 5rem;}
  #company-info {flex-direction: column;}
  .profile-container {order:1; margin-top: 8rem; justify-content: center;}
  .profile-photo{margin-left: 0}
  #white-slash{margin-left: 16.5rem; margin-top: 9rem;}
  #decoration{transform: rotate(180deg); margin-left: 4rem; margin-top: 1.5rem;}
  .script{order:0; align-items: center;align-self: center;margin-bottom: 2rem;}
  #opening{text-align: start;}
  #opening1{text-align: center;}
  #about-me-description{text-align: center;}
  #line-decoration{margin-left: -0.3rem}
  #img-pic-container {width:25rem}
  .logo-descrip-container{width:70%}
  #company-description{font-size: 1rem;}
  #decoration1 {height:25rem;width:85%; margin-left:7.6%; margin-top: -14rem;}
  #decoration2 {margin-top: 10rem}
  #white-slash1{margin-left: -8rem; font-size: 1.9rem;}
  .skills-title-container{width:100%; }
  .skills-title{width:100%; font-size: 1.3rem; height: 3rem}
}

@media (min-width:1000px) {
  .info-box{width:55rem;}
}

@media (min-width: 851px){
  #drop-down{display: none !important;}
  #drop-down-btn {display: none;}
  #company-info{width: 55rem}
}

@media (min-width:1200px) {
  #skills{width: 75rem}
}

@media (max-width:450px) {
  .profile-photo{height: 20rem; margin-left: 0; }
  #img-pic-container{width:20rem;}
  #white-slash{margin-left: 13.5rem; margin-top: 9rem;}
  #decoration{height:20rem; width: 14rem;margin-left: 3rem; margin-top: 1.5rem;}
  #opening2{width: 70%;}
}