.App{
  text-decoration: none;
}
a:link,a:visited,a:hover, a:active {
  color: none;
  text-decoration: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}

.App-header{
  background-color: rgb(173, 83, 55);
  height: 50px;
  position: fixed;
  z-index: 300;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#name-container{
  height: 100%;
  width: 50%;
}

#name{
  display: flex;
  color: white;
  height: 100%;
  align-items: center;
  padding-left: 8%;
  padding-top: 0.25rem;
  text-shadow: 5px 4px rgb(155, 67, 40);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.button-nav{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding-right: 5%;
  width: 45%;
}
.btn-nav{
  color: rgb(255, 255, 255);
  text-shadow: 2.5px 2.5px rgb(155, 67, 40);
  background-color: rgba(255, 0, 0, 0);
  border: none;
  height: 100%;
  width: 7rem;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.btn-nav:hover{
  color: rgb(219, 211, 211);
  transition: color ease-in-out 0.2s;
}
.divider{
  background-color: rgb(137, 155, 149);
}
.divider1{
  background-color: rgb(155, 154, 137);
}
.background{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(173, 83, 55);
}
.background1{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
}
.background2{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
}
.background3{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 170, 166);
}
.background4{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 195, 169);
}
.background4a{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 195, 169);
}
.background5{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 170, 166);
}
.background6{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 195, 169);
}
#intro-box{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 300px;
  align-items: center;
  justify-content: center;
  text-shadow: 9px 6px rgb(155, 67, 40);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -4px;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  margin-top: 1.75rem;
}
#opening{
  font-size: 3.5rem;
}
#opening1{
  font-size: 2.2rem;
}

#about-me-box{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  background-color: rgb(218, 209, 175);
}

.profile-container{
  display: flex;
  width: 40%;
  padding-left: 10%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  order: 0;
}

#profile-photo{
  width: 18rem;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 5px solid white;
  box-shadow: rgb(187, 178, 148) 5px 4px;
}

.about-me-container{
  order: 1;
  width: 40%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  height: 100%;
}

#description1{
  font-size: 2rem;
  text-align: end;
  text-shadow: 2px 2px rgb(187, 178, 148);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

#description2{
  color: rgb(161, 154, 129);
  font-size: 1.5rem;
  text-align: end;
  text-shadow: 1.3px 1.3px rgb(255, 255, 255);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

#about-me-description{
  font-size: 1rem;
  text-align: end;
  text-shadow: 1.5px 1.5px rgb(187, 178, 148);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

#company-info-box{
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  width: 1100px;
  height: 450px;
  align-items: center;
  justify-content: center;
}
#company-description{
  display: flex;
  text-align: center;
  width: 90%;
  color: white;
  font-size: 1.1rem;
  text-shadow: 1.5px 1.5px rgb(128, 139, 136);
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 3rem;
}
.logo-descrip-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 100%;
  padding-right: 4%;
  padding-left: 1%;
}
.logo-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
#work-logo{
  width: 10rem;
  margin-bottom: 3rem;
}
#arc-text2{
  height: 8.9rem;
  position: absolute;
  margin-top: -3rem;
  margin-left: 0.5rem;
  filter: invert(100%);
}
.img-pic-container{
  display: flex;
  justify-content: center;
  width: 47%;
  height: auto;
  padding-right: 2%;
  padding-left: 1%
}
.work-photo{
  width: 25rem;
  height: 100%;
  border: 5px solid white;
  border-radius: 2rem;
  box-shadow: rgb(128, 139, 136) -4px 4px;
}
.skills-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-title-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 8rem;
}
#skills-title{
  color: white;
  text-shadow: 1.5px 1.5px rgb(163, 160, 134);
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.75rem;
  z-index: 1;
}
.img-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#code-img {
  display: flex;
  width: auto;
  height: 8rem;
  padding: 0 1rem 0 1rem;
}
#icon-titles{
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-shadow: 1.5px 1.5px rgb(167, 165, 152);
}
#divider{
  height: 2px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(163, 160, 134) 0.9px solid;
  margin: 2rem 0 3rem 0;
}

.github-box {
  display: flex;
  margin: 0 0 3rem 0;
  flex-direction: column;
  height: auto;
  width: 100%;
  z-index: 1;
  align-items: center;
}
 
#github {
  display: flex;
  width: 10rem;
  height: auto;
  align-self: center;
}

#arc-text{
  height: 3.75rem;
  position: absolute;
  margin-top: -0.8rem;
  margin-left: -0.15rem;
}

#arc-text1{
  height: 1.6rem;
  position: absolute;
  margin-top: 8.5rem;
  margin-left: 6rem;
  transform: rotate(-38.5deg);
}
#contact-me-box{
  height: 100%;
  width: 1100px;
  padding: 1rem 0 1rem 0;
}
#contact-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 8rem;
}
.contact-title-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
#contact-me-title{
  color: white;
  text-shadow: 1.5px 1.5px rgb(125, 136, 132);
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.75rem;
  z-index: 1;
}
.linkedin-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-family: 'Noto Sans JP', sans-serif;
  z-index: 2;
  justify-content: space-between;
  height: 5rem;
}
#linkedin{
  width: 2.2rem;
  border: rgb(184, 190, 188) 2px solid;
  border-radius: 100%;
}
#linkedin:hover{
  filter: brightness(90%);
  transition: filter ease 0.3s;

}
.email-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  z-index: 2;
  justify-content: space-between;
  height: 5rem;
}
#email-button{
  border: white 2px solid;
  border-radius: 0.6rem;
  background-color: rgb(184, 190, 188);
  height: 2.5rem;
  width: 7rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: rgb(125, 136, 132) 1.5px 1.5px;
  font-family: 'Noto Sans JP', sans-serif;
  cursor: pointer;
}
#email-button:hover{
  background-color: rgb(196, 202, 200);
  transition: background-color ease 0.3s;
}
#email-caption{
  font-size: 1rem;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  text-shadow: rgb(125, 136, 132) 1.5px 1.5px;
}

#linkedin-caption{
  font-size: 1rem;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  text-shadow: rgb(125, 136, 132) 1.5px 1.5px;
}
.rights-box{
  color: rgb(255, 255, 255);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
#drop-down-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 3rem;
  padding-left: 2rem;
  top: 0;
  height: 24px;
  justify-content: space-between;
  margin-top: 15px;
}
@keyframes slideInLeft1 {
  0% {left: -50px;opacity:0;}
  100%{left: 0px;opacity:1}
}
@keyframes slideOutLeft {
  0% {left: 0px; opacity:1;}
  100%{left: -90px;opacity:0}
}

#btn-line {
  width: 33px;
  height: 3.8px;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 2px rgb(155, 67, 40);
}

#drop-down {
  background-color: rgba(197, 108, 81, 0.61);
  flex-direction: column;
  width: 30%;
  margin-top: 50px;
  position: absolute;
  z-index: 3;
  transition: margin ease 0.5s;
  border-bottom: solid 2px rgb(155, 67, 40);
  border-top: solid 2px rgb(155, 67, 40);
  border-right: solid 2px rgb(155, 67, 40);
}
@media (max-width:1200px) {
  #about-me-box{width: 90%;}
  #company-info-box{width: 90%}
  #contact-me-box{width: 90%}
}
@media (max-width:850px) {
  .about-me-container{width: 40%; padding-right: 5%;}
  .profile-container{width: 50%; padding-left: 5%;}
  .img-pic-container{padding-left:0}
  .work-photo{width: 21rem;}
} 
@media(min-width: 1111px){
  .background4{display: flex}
  .background4a{display: none}
}
@media (max-width:1110px) {
  #intro-box{align-items: flex-start; text-align: start;}

  .background4{display: none}
  .background4a{display: flex}
}
@media(min-width: 701px){
  .background1{display: flex}
  .background2{display: none}
  #drop-down{display: none !important;}
  #drop-down-btn {display: none;}
}
@media (max-width:700px) {
  .background1{display: none}
  .background2{display: flex}
  #about-me-box{flex-direction: column; padding: 2rem 0 3rem 0;}
  .about-me-container{width: 90%; padding: 0; order:0; align-items: center;}
  #description1{text-align: center;}
  #description2{text-align: center;}
  #description3{text-align: center;}
  #about-me-description{text-align: center;}

  .profile-container{order:1; padding: 0;justify-content: center;}
  #profile-photo{width:15rem; margin-top: 3rem}
  #company-info-box{flex-direction: column; height: 550px}
  #company-description{width: 95%; margin:0 }
  .logo-descrip-container{width: 100%; padding: 0; height: 100%;}
  .logo-container{width: 100%;}
  #arc-text2{height: 8rem;margin-top: -1.8rem; margin-left: 0rem;}
  #work-logo{width: 8rem; margin-top: 1rem;margin-bottom: 2rem}
  .img-pic-container{width: 100%; height: 100%; padding: 0;}
  .work-photo{width: 22.5rem;}
  #contact-row{margin:0 1rem 0 1rem}

  .btn-nav{height:2rem;border-bottom: 2px rgb(155, 67, 40) solid; font-size: 0.9rem; width: 90%; justify-content: flex-start;}
  .button-nav {display:none;}

} 
@media (max-width:570px) {
  #contact-row{flex-direction: column; height: 15rem}
  .linkedin-contents {margin-top: 1rem;}
}

@media (max-width: 400px){
  #company-info-box{width: 80%; height: auto;}
  .img-pic-container{width: 100%;}
  .work-photo{width: 20rem; height: 17rem; }
}