.App{
  text-decoration: none;
}

a:link,a:visited,a:hover, a:active {
  color: none;
  text-decoration: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.App-header{
  display: flex;
  flex-direction: row;
  height: 50px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#name-container{
  height: 100%;
  width: 50%;
}

#name{
  display: flex;
  color: rgb(0, 0, 0);
  height: 100%;
  align-items: center;
  padding-left: 8%;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 6=500;
  font-size: 20px;
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.button-nav{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding-right: 3%;
  width: 50%;
}

.btn-nav{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 100px;
  font-size: 14px;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
  font-weight: 300;
}

.btn-nav:hover{
  color: rgb(68, 68, 68);
  transition: color ease-in-out 0.2s;
}

.background1{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
}

.background2{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
}

.background3{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 233, 236);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.background4{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.background4a{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.background5{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 233, 236);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.background6{
  display: flex;
  position: relative;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

#intro-box{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  height: 110px;
  padding-bottom: 30px;
}

#opening{
  font-size: 28px;
  padding-left: 5%;
}

#opening1{
  font-size: 16px;
  padding-left: 5%;
}

#about-me-box{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  background-color: rgb(255, 255, 255);
}

.profile-container{
  display: flex;
  width: 40%;
  padding-left: 10%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  order: 0;
}

#profile-photo{
  width: 250px;
  align-items: center;
  justify-content: center;
  border : 2px solid black;
}

.about-me-container{
  order: 1;
  width: 40%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: rgb(0, 0, 0);
  height: 100%;
}

#description1{
  font-size: 21px;
  text-align: end;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

#about-me-description{
  font-size: 16px;
  text-align: end;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 100;
}

#company-info-box{
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  width: 1100px;
  height: 450px;
  align-items: center;
  justify-content: center;
}

#company-description{
  display: flex;
  text-align: center;
  width: 90%;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 3rem;
}

.logo-descrip-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 100%;
  padding-right: 4%;
  padding-left: 1%;
}

.logo-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

#work-logo{
  width: 10rem;
  margin-bottom: 3rem;
}

#arc-text2{
  height: 8.9rem;
  position: absolute;
  margin-top: -3rem;
  margin-left: 0.5rem;
}

.img-pic-container{
  display: flex;
  justify-content: center;
  width: 47%;
  height: auto;
  padding-right: 2%;
  padding-left: 1%
}

.work-photo{
  width: 25rem;
  height: 100%;
  border : 2px solid black;
}

.skills-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-title-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-bottom: 40px;
}

#skills-title{
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  z-index: 1;
}

.img-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#code-img {
  display: flex;
  width: auto;
  height: 100px;
  padding: 0 30px 0 30px;
}

#icon-titles{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 14px;
}

.github-box {
  display: flex;
  margin: 100px 0 3rem 0;
  flex-direction: column;
  height: auto;
  width: 100%;
  z-index: 1;
  align-items: center;
}
 
#github {
  display: flex;
  width: 10rem;
  height: auto;
  align-self: center;
}

#arc-text{
  height: 3.75rem;
  position: absolute;
  margin-top: -0.8rem;
  margin-left: -0.15rem;
}

#arc-text1{
  height: 1.6rem;
  position: absolute;
  margin-top: 8.5rem;
  margin-left: 6rem;
  transform: rotate(-38.5deg);
}

#contact-me-box{
  height: 100%;
  width: 1100px;
}

#contact-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
}

.contact-title-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-bottom: 10px;
}

#contact-me-title{
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  z-index: 1;
}

.linkedin-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-family: 'Libre Franklin', sans-serif;
  z-index: 2;
  justify-content: space-between;
  height: 5rem;
}

#linkedin{
  width: 2.2rem;
  border-radius: 100%;
}

#linkedin:hover{
  filter: brightness(95%);
  transition: filter ease 0.3s;
}

.email-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  z-index: 2;
  justify-content: space-between;
  height: 80px;
}

#email-button{
  border: rgb(0, 0, 0) 0px solid;
  border-radius: 0.1rem;
  background-color: rgb(255, 255, 255);
  height: 2.5rem;
  width: 7rem;
  color: rgb(201, 206, 211);
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
}

#email-button:hover{
  background-color: rgb(241, 241, 241);
  transition: background-color ease 0.3s;
}

#email-caption{
  font-size: 14px;
  color: rgb(82, 82, 82);
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

#linkedin-caption{
  font-size: 14px;
  color: rgb(82, 82, 82);
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

.rights-box{
  color: rgb(0, 0, 0);
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 100;
  font-size: 13px;
}

#drop-down-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 3rem;
  padding-left: 2rem;
  top: 0;
  height: 20px;
  justify-content: space-between;
  margin-top: 15px;
}

@keyframes slideInLeft1 {
  0% {left: -50px;opacity:0;}
  100%{left: 0px;opacity:1}
}

@keyframes slideOutLeft {
  0% {left: 0px; opacity:1;}
  100%{left: -90px;opacity:0}
}

#btn-line {
  width: 33px;
  height: 1.8px;
  background-color: rgb(0, 0, 0);
}

#drop-down {
  background-color: rgba(255, 255, 255, 0.849);
  flex-direction: column;
  width: 30%;
  margin-top: 50px;
  position: absolute;
  z-index: 3;
  transition: margin ease 0.5s;

}

@media (max-width:1200px) {
  #about-me-box{width: 90%;}
  #company-info-box{width: 90%}
  #contact-me-box{width: 90%}
}

@media (max-width:850px) {
  .about-me-container{width: 40%; padding-right: 7%;}
  .profile-container{width: 50%; padding-left: 5%;}
  .img-pic-container{padding-left:0}
  .work-photo{width: 21rem;}
}

@media(min-width: 1111px){
  .background4{display: flex}
  .background4a{display: none}
}

@media (max-width:1110px) {
  #intro-box{align-items: flex-start; text-align: start;}
  .background4{display: none}
  .background4a{display: flex}
}

@media(min-width: 701px){
  .background1{display: flex}
  .background2{display: none}
  #drop-down{display: none !important;}
  #drop-down-btn {display: none;}
}

@media (max-width:700px) {
  .background1{display: none}
  .background2{display: flex}
  #about-me-box{flex-direction: column; padding: 2rem 0 3rem 0;}
  .about-me-container{width: 90%; padding: 0; order:0; align-items: center;}
  #description1{text-align: center;}
  #description2{text-align: center;}
  #description3{text-align: center;}
  #about-me-description{text-align: center;}
  .profile-container{order:1; padding: 0;justify-content: center;}
  #profile-photo{width:15rem; margin-top: 3rem}
  #company-info-box{flex-direction: column; height: 550px}
  #company-description{width: 95%; margin:0 }
  .logo-descrip-container{width: 100%; padding: 0; height: 100%;}
  .logo-container{width: 100%;}
  #arc-text2{height: 8rem;margin-top: -1.8rem; margin-left: 0rem;}
  #work-logo{width: 8rem; margin-top: 1rem;margin-bottom: 2rem}
  .img-pic-container{width: 100%; height: 100%; padding: 0;}
  .work-photo{width: 22.5rem;}
  #contact-row{margin:0 1rem 0 1rem}
  .btn-nav{height:2rem; text-shadow: none; border-bottom: 1px rgb(119, 119, 119) solid; font-size: 13px; width: 100%; justify-content: flex-start;}
  .button-nav {display:none;}
} 

@media (max-width:570px) {
  #contact-row{flex-direction: column; height: 15rem}
  .linkedin-contents {margin-top: 1rem;}
}

@media (max-width: 400px){
  #company-info-box{width: 80%; height: auto;}
  .img-pic-container{width: 100%;}
  .work-photo{width: 20rem; height: 17rem; }
}